accelerate==1.4.0
atomics==1.0.2
augmax==0.4.1
av==16.0.1
beartype==0.19.0
crafter==1.8.3
decord==0.6.0
deepdiff==8.6.1
diffusers==0.29.2
dill==0.3.9
dm_control==1.0.27
draccus==0.11.5
elements==3.19.1
flax==0.10.2
gcsfs==2025.12.0
gdown==5.2.0
git+https://github.com/erjel/imgaug.git@test
git+https://github.com/WangYixuan12/urdfpy.git
git+https://github.com/WangYixuan12/yixuan_utilities.git
gym==0.26.2
gymnasium==1.0.0
h5py==3.7.0
huggingface_hub==0.34.3
imagecodecs==2025.3.30
internetarchive==5.0.5
jax[cuda12]==0.5.3
jaxtyping==0.2.36
jsonlines==4.0.0
kornia==0.6.0
lightning==2.6.0
matplotlib==3.8.2
ml_collections==1.0.0
modern_robotics==1.1.1
mujoco==3.3.0
natsort==8.4.0
ninjax==3.6.0
numpy==1.26.4
numpydantic>=1.6.6
onnx==1.17.0
onnxruntime==1.21.1
open-clip-torch==2.7.0
open3d==0.19.0
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
orbax-checkpoint==0.11.13
pandas==2.2.3
pinocchio==0.4.3
portal==3.7.3
pygame==2.6.1
pymunk==6.10.0
pynput==1.6.0
pyrealsense2==2.55.1.6486
pytest==9.0.2
pytools==2025.2.5
pyzmq==26.2.0
regex==2024.11.6
rospkg==1.6.0
rotary_embedding_torch==0.8.6
ruamel.yaml==0.17.4
sapien==2.2.2
scope==0.6.3
sentencepiece==0.2.1
serial==0.0.97
sewar==0.4.6
tensorboard==2.19.0
tensorrt-cu12==10.9.0.34
tensorrt-dispatch-cu12==10.9.0.34
tensorrt-lean-cu12==10.9.0.34
termcolor==3.3.0
timm==0.9.7
torch==2.7.1+cu128
torchcodec==0.4.0
torchmetrics[image]==1.0.3
torchvision==0.22.1+cu128
tqdm-loggable==0.2
transformers==4.57.3
transforms3d==0.4.2
trimesh==4.2.0
tyro==1.0.3
wandb==0.22.3
wandb-osh==1.2.1
zarr==2.12.0
